<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.system.mapper.SysCommentMapper">
    
    <resultMap type="SysComment" id="SysCommentResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="activittyId"    column="activitty_id"    />
        <result property="commentContent"    column="comment_content"    />
        <result property="extra"    column="extra"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysCommentVo">
        select id, user_id, activitty_id, comment_content, extra, create_time, update_time from sys_comment
    </sql>

    <select id="selectSysCommentList" parameterType="SysComment" resultMap="SysCommentResult">
        <include refid="selectSysCommentVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="activittyId != null "> and activitty_id = #{activittyId}</if>
            <if test="commentContent != null  and commentContent != ''"> and comment_content = #{commentContent}</if>
            <if test="extra != null  and extra != ''"> and extra = #{extra}</if>
        </where>
    </select>
    
    <select id="selectSysCommentById" parameterType="Long" resultMap="SysCommentResult">
        <include refid="selectSysCommentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysComment" parameterType="SysComment" useGeneratedKeys="true" keyProperty="id">
        insert into sys_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="activittyId != null">activitty_id,</if>
            <if test="commentContent != null">comment_content,</if>
            <if test="extra != null">extra,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="activittyId != null">#{activittyId},</if>
            <if test="commentContent != null">#{commentContent},</if>
            <if test="extra != null">#{extra},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysComment" parameterType="SysComment">
        update sys_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="activittyId != null">activitty_id = #{activittyId},</if>
            <if test="commentContent != null">comment_content = #{commentContent},</if>
            <if test="extra != null">extra = #{extra},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysCommentById" parameterType="Long">
        delete from sys_comment where id = #{id}
    </delete>

    <delete id="deleteSysCommentByIds" parameterType="String">
        delete from sys_comment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>