<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.system.mapper.SysVolunteerOrganizationRelationMapper">
    
    <resultMap type="SysVolunteerOrganizationRelation" id="SysVolunteerOrganizationRelationResult">
        <result property="id"    column="id"    />
        <result property="organizationId"    column="organization_id"    />
        <result property="volunteerId"    column="volunteer_id"    />
        <result property="userId"    column="user_id"    />
        <result property="status"    column="status"    />
        <result property="extra"    column="extra"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysVolunteerOrganizationRelationVo">
        select id, organization_id, volunteer_id, user_id, status, extra, create_time, update_time from sys_volunteer_organization_relation
    </sql>

    <select id="selectSysVolunteerOrganizationRelationList" parameterType="SysVolunteerOrganizationRelation" resultMap="SysVolunteerOrganizationRelationResult">
        <include refid="selectSysVolunteerOrganizationRelationVo"/>
        <where>  
            <if test="organizationId != null "> and organization_id = #{organizationId}</if>
            <if test="volunteerId != null "> and volunteer_id = #{volunteerId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="extra != null  and extra != ''"> and extra = #{extra}</if>
        </where>
    </select>
    
    <select id="selectSysVolunteerOrganizationRelationById" parameterType="Long" resultMap="SysVolunteerOrganizationRelationResult">
        <include refid="selectSysVolunteerOrganizationRelationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysVolunteerOrganizationRelation" parameterType="SysVolunteerOrganizationRelation" useGeneratedKeys="true" keyProperty="id">
        insert into sys_volunteer_organization_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="organizationId != null">organization_id,</if>
            <if test="volunteerId != null">volunteer_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="extra != null">extra,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="organizationId != null">#{organizationId},</if>
            <if test="volunteerId != null">#{volunteerId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="extra != null">#{extra},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysVolunteerOrganizationRelation" parameterType="SysVolunteerOrganizationRelation">
        update sys_volunteer_organization_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="organizationId != null">organization_id = #{organizationId},</if>
            <if test="volunteerId != null">volunteer_id = #{volunteerId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="extra != null">extra = #{extra},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysVolunteerOrganizationRelationById" parameterType="Long">
        delete from sys_volunteer_organization_relation where id = #{id}
    </delete>

    <delete id="deleteSysVolunteerOrganizationRelationByIds" parameterType="String">
        delete from sys_volunteer_organization_relation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>